<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Fake Shop{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block headline %}{% endblock headline %}
        <div style="margin-left:10%">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
